@import "reset";
@import "typography";


  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // solo si quieres evitar scroll lateral no deseado
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .project-detail {
    padding: 4rem 1rem 2rem 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .project-body img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  